* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
 .conteneur{
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: antiquewhite;
    width: 20%;
    height: 30rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
 }

h1{
    width: 20%;
    border-width: 1px ;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#jour{
  width: 80%;
}
#mois{
  width: 80%;
}

  main{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;    
  }

.btn-reset{
  width: 50%;
  background-color: beige;
}

.btn-envoyer{
  width: 80%;
  background-color: bisque;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

#resultat{
   margin-top: 3rem;
}